*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Gotham Rounded";
  font-weight: normal;
}

body { /* dial the background */
  padding: 0; /* remove padding and margin so that the backgr. fills the entire screen*/
  margin: 0;
  background: linear-gradient(to right, #00AAFF,#00FF6C); /* applied for using two colors */
}
.calculator-grid { /* style the grid */
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px,auto)repeat(5,100px);
}

.calculator-grid > button { /*position the buttons*/
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover{ /*change the color when hover*/
  background-color: rgba(255,255,255,.9);
}
.span-two{
  grid-column: span 2; /*make AC and = buttons larger*/
}

.output {
  grid-column: 1/-1; /*to fill the entire width of the top row*/
  background-color: rgba(0, 0, 0, .75);
  display: flex; /*alighn the numbers inside of the output tab*/
  align-items: flex-end;
  justify-content: space-around; /*numbers will be closer*/
  flex-direction: column; /*numbers line up vertically*/
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;/*allow number to wrap to the next line*/
}

.output .previous-operand {
  color: rgba(255,255,255,.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
