*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Gotham Rounded";
  font-weight: normal;
}

body { /* dial the background */
  padding: 0; /* remove padding and margin so that the backgr. fills the entire screen*/
  margin: 0;
  background: linear-gradient(to right, #00AAFF,#00FF6C); /* applied for using two colors */
}
.calculator-grid { /* style the grid */
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: minmax(120px,auto)repeat(5,100px);
}

.calculator-grid > button { /*position the buttons*/
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover{ /*change the color when hover*/
  background-color: rgba(255,255,255,.90);
}
.span-two{
  grid-column: span 2;
}
